In [1]:
import pandas as pd 
import seaborn as sb 
import matplotlib.pyplot as plt 
import numpy as np

Importing csv file

In [42]:
dataset = pd.read_csv("/Users/aditirajesh/Desktop/program_files/python/python_6sem/DATA_PLANTS/plant1/data1_1.csv")
df = pd.DataFrame(columns=['DATE','AMBIENT_TEMP','MODULE_TEMP','SUN_HOURS','YIELD'])

dataset[['DATE', 'TIME']] = dataset.DATE_TIME.str.split(" ", expand = True)
dataset.drop(["DATE_TIME","DC_POWER","AC_POWER"],axis=1,inplace=True)
dataset = dataset[['DATE','TIME','AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION','DAILY_YIELD']]
print(dataset)

print(dataset.columns)

            DATE      TIME  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  \
0     2020-05-15  06:00:00            24.088446           22.206757
1     2020-05-15  06:15:00            24.011635           22.353459
2     2020-05-15  06:30:00            23.976731           22.893282
3     2020-05-15  06:45:00            24.218990           24.442444
4     2020-05-15  07:00:00            24.537398           27.185653
...          ...       ...                  ...                 ...
1698  2020-06-17  17:30:00            24.278404           26.862443
1699  2020-06-17  17:45:00            24.174170           25.950272
1700  2020-06-17  18:00:00            24.130349           25.080925
1701  2020-06-17  18:15:00            24.038157           24.068250
1702  2020-06-17  18:30:00            23.840239           22.968658

      IRRADIATION  DAILY_YIELD
0        0.005887     0.000000
1        0.022282     2.571429
2        0.049410    13.000000
3        0.095394    33.857143
4        0.141940    70.000000
...           ...          ...
1698     0.090132  5839.400000
1699     0.065259  5874.428571
1700     0.041940  5892.000000
1701     0.023446  5903.750000
1702     0.007007  5909.142857

[1703 rows x 6 columns]
Index(['DATE', 'TIME', 'AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE',
       'IRRADIATION', 'DAILY_YIELD'],
      dtype='object')

In [45]:

for date in dataset['DATE'].unique():
    ambient_temperatures = list(dataset.loc[dataset['DATE'] == date, 'AMBIENT_TEMPERATURE'])
    module_temperatures = dataset.loc[dataset['DATE'] == date, 'MODULE_TEMPERATURE']
    irradiations = dataset.loc[dataset['DATE'] == date, 'IRRADIATION']

    ambient_temperatures = sum(ambient_temperatures)/len(ambient_temperatures)
    module_temperatures = sum(module_temperatures)/len(module_temperatures)
    irradiations = sum(irradiations)/4

    daily_yield = dataset.loc[(dataset['DATE'] == date) & (dataset['TIME'] == '18:30:00'),'DAILY_YIELD']

    df = df._append({'DATE':date,
                    'AMBIENT_TEMP':ambient_temperatures,
                    'MODULE_TEMP':module_temperatures,
                    'SUN_HOURS':irradiations,
                    'YIELD':daily_yield},ignore_index=True)

print(df)

          DATE  AMBIENT_TEMP  MODULE_TEMP  SUN_HOURS  \
0   2020-05-15     30.101998    40.874126   4.758980
1   2020-05-16     28.693978    38.971222   4.662886
2   2020-05-17     29.629909    42.436575   5.732761
3   2020-05-18     25.220109    33.840217   3.816491
4   2020-05-19     27.493836    38.077856   4.511132
5   2020-05-20     27.210057    40.353065   4.561357
6   2020-05-21     29.383561    45.335427   5.889043
7   2020-05-22     28.612870    41.123396   5.529507
8   2020-05-23     29.387591    45.663036   6.526639
9   2020-05-24     29.915382    43.727070   6.233824
10  2020-05-25     29.942647    45.106869   6.807852
11  2020-05-26     29.596173    43.869744   6.062268
12  2020-05-27     29.593112    41.672768   5.134159
13  2020-05-28     29.773013    43.832226   6.507684
14  2020-05-29     28.059088    44.418995   6.198915
15  2020-05-30     26.875039    39.174292   5.468500
16  2020-05-31     27.066154    37.553291   4.406041
17  2020-06-01     26.643287    36.410168   4.412275
18  2020-06-02     25.978487    37.300929   5.370852
19  2020-06-03     26.378540    37.922651   5.481865
20  2020-06-04     27.261680    40.536792   6.167637
21  2020-06-05     26.717116    39.711987   5.797920
22  2020-06-06     26.217183    36.669090   4.881457
23  2020-06-07     26.862900    40.544023   6.100517
24  2020-06-08     27.511552    40.878318   6.328408
25  2020-06-09     28.039840    41.237700   6.188381
26  2020-06-10     26.666875    36.497218   4.808010
27  2020-06-11     25.837950    33.653866   3.883414
28  2020-06-12     25.518057    33.588121   4.075321
29  2020-06-13     26.500307    39.443575   6.347269
30  2020-06-14     25.573195    36.261990   5.281814
31  2020-06-15     26.655393    37.223971   4.942010
32  2020-06-16     26.555194    36.591145   4.494756
33  2020-06-17     25.589813    34.393416   4.247118

                                                YIELD
0      50    5965.0
Name: DAILY_YIELD, dtype: float64
1     101    6419.0
Name: DAILY_YIELD, dtype: float64
2     152    7480.0
Name: DAILY_YIELD, dtype: float64
3     203    5390.0
Name: DAILY_YIELD, dtype: float64
4     251    6932.0
Name: DAILY_YIELD, dtype: float64
5    286    8841.25
Name: DAILY_YIELD, dtype: float64
6     330    7944.0
Name: DAILY_YIELD, dtype: float64
7     381    7171.0
Name: DAILY_YIELD, dtype: float64
8   429    8543.875
Name: DAILY_YIELD, dtype: float64
9    480    7956.75
Name: DAILY_YIELD, dtype: float64
10  531    8812.625
Name: DAILY_YIELD, dtype: float64
11       582    0.0
Name: DAILY_YIELD, dtype: float64
12        633   NaN
Name: DAILY_YIELD, dtype: float64
13    684    8391.0
Name: DAILY_YIELD, dtype: float64
14        734   NaN
Name: DAILY_YIELD, dtype: float64
15    785    7290.0
Name: DAILY_YIELD, dtype: float64
16    836    6047.0
Name: DAILY_YIELD, dtype: float64
17    887    5742.0
Name: DAILY_YIELD, dtype: float64
18  938    7450.285714
Name: DAILY_YIELD, dtype: f...
19  988    7835.125
Name: DAILY_YIELD, dtype: float64
20  1039    8219.875
Name: DAILY_YIELD, dtype: flo...
21  1090    7816.142857
Name: DAILY_YIELD, dtype: ...
22       1141   NaN
Name: DAILY_YIELD, dtype: float64
23  1192    8259.285714
Name: DAILY_YIELD, dtype: ...
24  1243    8375.857143
Name: DAILY_YIELD, dtype: ...
25  1294    8288.75
Name: DAILY_YIELD, dtype: float64
26   1345    6560.0
Name: DAILY_YIELD, dtype: float64
27   1396    5670.5
Name: DAILY_YIELD, dtype: float64
28  1447    5862.285714
Name: DAILY_YIELD, dtype: ...
29   1498    8409.5
Name: DAILY_YIELD, dtype: float64
30   1549    7319.5
Name: DAILY_YIELD, dtype: float64
31   1600    6820.0
Name: DAILY_YIELD, dtype: float64
32  1651    6261.625
Name: DAILY_YIELD, dtype: flo...
33  1702    5909.142857
Name: DAILY_YIELD, dtype: ...